@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --a-font-family: "Jost", Helvetica;
  --a-font-size: 18px;
  --a-font-style: normal;
  --a-font-weight: 500;
  --a-letter-spacing: 0px;
  --a-line-height: 150%;
  --colorblack: rgba(0, 0, 0, 1);
  --colorgrey: rgba(157, 157, 157, 1);
  --colorlight-grey: rgba(234, 234, 234, 1);
  --colormain: rgba(255, 120, 45, 1);
  --colorsecondary: rgba(255, 171, 45, 1);
  --colorwhite: rgba(255, 255, 255, 1);
  --h5-font-family: "Exo", Helvetica;
  --h5-font-size: 16px;
  --h5-font-style: normal;
  --h5-font-weight: 600;
  --h5-letter-spacing: 0px;
  --h5-line-height: 120.00000476837158%;
  --heading-h5-font-family: "Exo", Helvetica;
  --heading-h5-font-size: 16px;
  --heading-h5-font-style: normal;
  --heading-h5-font-weight: 600;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 120.00000476837158%;
  --p-font-family: "Jost", Helvetica;
  --p-font-size: 18px;
  --p-font-style: normal;
  --p-font-weight: 400;
  --p-letter-spacing: 0px;
  --p-line-height: 150%;
  --variable-collection-black: rgba(0, 0, 0, 1);
  --variable-collection-grey: rgba(157, 157, 157, 1);
  --variable-collection-light-grey: rgba(234, 234, 234, 1);
  --variable-collection-primary: rgba(255, 120, 45, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-white-grey: rgba(245, 245, 245, 1);
}
